@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #7d80ca;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 34s linear infinite;
}
.background li:nth-child(0) {
    background-image: url("https://images.pexels.com/photos/14424025/pexels-photo-14424025.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    left: 61%;
    width: 201px;
    height: 201px;
    bottom: -201px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    background-image: url("https://images.pexels.com/photos/15449562/pexels-photo-15449562.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    left: 7%;
    width: 199px;
    height: 199px;
    bottom: -199px;
    animation-delay: 4s;
}
.background li:nth-child(2) {
    background-image: url("https://images.pexels.com/photos/6758034/pexels-photo-6758034.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    left: 55%;
    width: 128px;
    height: 128px;
    bottom: -128px;
    animation-delay: 10s;
}
.background li:nth-child(3) {
    background-image: url("https://images.pexels.com/photos/7312328/pexels-photo-7312328.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    left: 88%;
    width: 162px;
    height: 162px;
    bottom: -162px;
    animation-delay: 4s;
}
.background li:nth-child(4) {
    background-image: url("https://images.pexels.com/photos/12204296/pexels-photo-12204296.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    left: 84%;
    width: 193px;
    height: 193px;
    bottom: -193px;
    animation-delay: 7s;
}
.background li:nth-child(5) {
    background-image: url("https://images.pexels.com/photos/3996794/pexels-photo-3996794.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    left: 58%;
    width: 229px;
    height: 229px;
    bottom: -229px;
    animation-delay: 24s;
}
.background li:nth-child(6) {
    background-image: url("https://images.pexels.com/photos/11608681/pexels-photo-11608681.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    left: 69%;
    width: 150px;
    height: 150px;
    bottom: -150px;
    animation-delay: 27s;
}
.background li:nth-child(7) {
    background-image: url("https://images.pexels.com/photos/11551694/pexels-photo-11551694.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    left: 60%;
    width: 125px;
    height: 125px;
    bottom: -125px;
    animation-delay: 7s;
}
.background li:nth-child(8) {
    background-image: url("https://images.pexels.com/photos/7752793/pexels-photo-7752793.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    left: 45%;
    width: 103px;
    height: 103px;
    bottom: -103px;
    animation-delay: 1s;
}
.background li:nth-child(9) {
    background-image: url("https://images.pexels.com/photos/7562139/pexels-photo-7562139.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    left: 44%;
    width: 230px;
    height: 230px;
    bottom: -230px;
    animation-delay: 29s;
}