<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SocialMedia</title>
  <link rel="stylesheet" th:href="@{/webjars/tailwindcss/2.1.2/dist/tailwind.min.css}">
</head>
<body class="bg-gray-100">
  <div class="max-w-md mb-5 bg-white p-4 grid grid-flow-row auto-rows-max border-r-2 min-h-screen">
      <div>
        <a th:href="'/user/' + ${user.getId()}">
          <span th:text="${user.getUserInformation().getFirstname()} + ' ' + ${user.getUserInformation().getLastname()}"/>
        </a>
      </div>
        <form name="logoutForm" th:action="@{/logout}" method="post">
          <input type="submit" value="Sign Out" />
        </form>
      <div>
        <a href="/new-post">
          New post
        </a>
      </div>
      <div>
        <a href="/admin/new-reaction">
          New reaction
        </a>
      </div>
    </div>
  </div>
  <div>
    <div class="max-w-md mx-auto rounded-xl mb-5 bg-white p-4 grid grid-flow-row auto-rows-max border-2" th:each="post : ${posts}">
      <div class="">
        <div class="float-left">
          <span th:text="${post.getPostCreator().getUserInformation().getFirstname()} + ' ' + ${post.getPostCreator().getUserInformation().getLastname()}"/>
        </div>
        <div class="float-right">
          <span th:text="${post.getCreationTime()} + ' ' + ${post.getCreationDate()}"/>
        </div>
      </div>
      <div class="mt-2">
        <span th:text="${post.getContent()}"/>
      </div>
      <div class="grid grid-flow-col grid-cols-3 mt-2">
        <div th:each="reactionCounter : ${post.getReactionCounters()}">
          <form th:action="@{/react}" method="POST">
            <span th:if="${reactionCounter.getCount() > 0}" th:text="${reactionCounter.getCount()}"/>
            <input type="hidden" name="reactionCounterId" th:value="${reactionCounter.getId()}">
            <button type="submit">React</button>
          </form>
        </div>
      </div>
      <div class="border-t-2 mt-2" th:if="${!post.getComments().isEmpty()}">
        <div class="mt-2" th:each="comment : ${post.getComments()}">
          <span th:text="${comment.getCreator().getUserInformation().getFirstname()} + ' ' + ${comment.getCreator().getUserInformation().getLastname()}"/>
          <span th:text="${comment.getContent()}"/>
        </div>
      </div>
    </div>
  </div>
</body>
</html>