<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Register</title>
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<ul class="background">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
<form th:action="@{/register}" method="POST" class="login-form">
  <div>
    <h1>Register</h1>
      <label>Username: </label>
      <input type="text" name="username" required/>
    </div>
    <div>
      <label>Password: </label>
      <input type="password" name="password" required/>
    </div>
    <div>
      <button type="submit">Register</button>
    </div>
  <h4>If You want to log in <a href="/login">CLICK HERE</a>.</h4>
  </div>
</form>
</body>
</html>